/*
=on5-font-yekan
---------------------------------------------------*/
@font-face {
    font-family: onfive-font;
    src: url('byekan.eot');
    src: url('byekan.eot?#iefix') format('embedded-opentype'),
        url('byekan.woff') format('woff'),
        url('byekan.ttf') format('truetype'),
        url('byekan.svg#webfontOvuhCGpN') format('svg');
    font-weight: normal;
    font-style: normal;
}