.vos-report-panel-wrapper *:not([class*='icon']):not(.fa):not(i) {
    font-family: iyekan !important;
    letter-spacing: normal !important;
}

.vos-report-panel-wrapper div,.vos-report-panel-wrapper span,.vos-report-panel-wrapper h1,.vos-report-panel-wrapper h2,.vos-report-panel-wrapper h3,.vos-report-panel-wrapper h4,.vos-report-panel-wrapper h5,.vos-report-panel-wrapper h6,.vos-report-panel-wrapper p,.vos-report-panel-wrapper a,.vos-report-panel-wrapper section,.vos-report-panel-wrapper mark,.vos-report-panel-wrapper 
ol,.vos-report-panel-wrapper ul,.vos-report-panel-wrapper li,.vos-report-panel-wrapper form,.vos-report-panel-wrapper table,.vos-report-panel-wrapper caption,.vos-report-panel-wrapper tbody,.vos-report-panel-wrapper tfoot,.vos-report-panel-wrapper thead,.vos-report-panel-wrapper tr,.vos-report-panel-wrapper th,.vos-report-panel-wrapper td,.vos-report-panel-wrapper article,.vos-report-panel-wrapper 
aside,.vos-report-panel-wrapper details,.vos-report-panel-wrapper figcaption,.vos-report-panel-wrapper footer,.vos-report-panel-wrapper header,.vos-report-panel-wrapper hgroup,.vos-report-panel-wrapper menu,.vos-report-panel-wrapper nav,.vos-report-panel-wrapper output,.vos-report-panel-wrapper 
input[type="text"] ,.vos-report-panel-wrapper input[type="textarea"] ,.vos-report-panel-wrapper input[type="submit"] {
    font-family: iyekan !important;
    letter-spacing: normal !important;
}
.vos-report-panel-wrapper a ,.vos-report-panel-wrapper span {
    font-family: iyekan !important;
}

.vos-report-panel-wrapper h1,.vos-report-panel-wrapper h2,.vos-report-panel-wrapper h3,.vos-report-panel-wrapper h4,.vos-report-panel-wrapper h5,.vos-report-panel-wrapper h6 {
    font-family: iyekan !important;
}

.vos-report-panel-wrapper p {
    font-family: iyekan !important;
}
.osa-report-line-chart-wrapper {
    width: 50%;
}
.osa-report-most-views-products,
.osa-report-search-expressions {
    background: white;
    border: 1px solid black;
    padding: .4em;
    color: white;
}
.osa-report-most-views-products li,
.osa-report-search-expressions li {
    display: inline-block;
    padding: .5em;
    background: #8bbeff;
    margin: .4em;
    border-radius: 10px;
}
.osa-report-online-viewers-table{
    border-collapse: collapse;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.osa-report-online-viewers-table tr td {
    text-align: center;
    padding: 10px 5px;
}
.osa-report-online-viewers-table tr td a{
    text-decoration: none;
}
.osa-report-online-viewers-table tr:nth-child(2n){
    background: #f5f5f5;
}
.osa-report-online-viewers-table thead tr{
    background: #36304a;
    color: white;
}
.osa-report-online-viewers-table thead tr th{
    padding: 10px 5px;
}
.rng-disable{
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}
.wrap {
    position: relative;
}
.osa-report-sub-content-wrapper {
    position: relative;
}
.osa-preloader {
    background: rgba(204, 204, 204, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 9999;
}
.osa-spinner {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #7e7e7e; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 40%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.osa-pagination-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    justify-content: center;
    direction: ltr;
}
.osa-pagination-list li a{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}
.osa-pagination-list li a.current{
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.admin-seprator-line {
    display: inline-block;
    height: 3px;
    width: 100px;
    background: #d8d8d8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 10px auto;
}
a.disabled {
    pointer-events: none;
    color: #ccc;
}
.osa-report-viewers-pagination li {
    display: inline-block;
}
.osa-report-viewers-pagination li a {
    display: block;
    padding: .4em;
    text-decoration: none;
    margin: 0 .2em;
}
label.osa-report-form-label {
    display: block;
    font-weight: bold;
}
.osa-report-notification-form-preloader {
    display: none;
}
/* The Modal (background) */
.osa-modal-content {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    right: 0;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: left;
}
.osa-modal-content {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 6%; /* Location of the box */
    left: 0;
    right: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: right;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    z-index: 25;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.woap-notification-icon-input {
    padding-right: 2em !important;
}

/* The Close Button */
.modal-close {
    cursor: pointer;
    float: left;
    margin-top: 7px;
    font-size: 28px;
    font-weight: bold;
}

.osa-report-form-item select{
    width: 25em;
}

.woap-notification-icon-wrapper {
    position: relative;
    display: inline-block;
}

.osa-report-form-item {
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 1.5em 0;
}
.osa-report-form-item .woap-notification-icon-wrapper {
    margin: 0;
    padding: 0;
}
.woap-notification-form-caption {
    margin: .3em auto;
    font-size: .85em;
    color: #484848;
}
.osa-report-form-item div:first-child {
    width: 10em;
}

.woap-notification-icon-wrapper span.woap-icon-uploader {
    font-family: dashicons !important;
    right: 7px;
    display: inline-block;
    position: absolute;
    top: 6px;
    font-size: 1.3em;
    color: #606060;
    cursor: pointer;
}

.modal-body,.modal-footer,.modal-header { padding: 2px 16px; }

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* modal-content width */

.modal-content { width: 768px; }
@media screen and (max-width: 768px){
    .modal-content {
        width: auto;
        margin: 0 30px;
    }
}